@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Contact Us </h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15498.28537085642!2d100.556257!3d13.804695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29c40e0a45c5b%3A0xf60188ffc2017898!2sBangkok%20Mass%20Transit%20System%20Public%20Company%20Limited!5e0!3m2!1sen!2sus!4v1701160130613!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>